head, body {
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    background-color: #D9D9D9;
    margin: 0;
    width: 100vw;
    height: calc(10vh - 50px);
}

.bottom-up {
    background-color: #D9D9D9;
    height: calc(9vh - 2px);
}

.bottom-down {
    background-color: #AFA9A9;
    height: calc(11vh - 2px);
}

.left {
    display: flex;
    background-color: #A4A4A4;
    margin: 0;
    width: 60vw;
    height: calc(80vh - 40px);
    flex-direction: row;
}

.center-top, .center-bottom {
    display: table-cell;
    margin: 0;
    width: 40vw;
}

.center-top {
    background-color: #7F7A7A;
    height: calc(45vh - 20px);
}

.center-bottom {
    background-color: #615050;
    height: calc(35vh - 20px);
}

.center {
    display: flex;
    flex-direction: column;
}

.direction {
    display: flex;
    margin: 0;
    padding: 0;
}
