head, body {
    margin: 0;
    padding: 0;
    font-size: 45px;
    font-family: "Inter", sans-serif;
}

.header, .footer {
    margin: 0;
    width: 99vw;
    height: calc(25vh - 15px);
    color: #000000;
}

.content-1, .content-2, .content-3 {
    margin: 0;
    width: 67vw;
    height: calc(22vh - 40px);
    flex-direction: row;
}

.header {
    background-color: #8D8484;
}

.content-1 {
    background-color: #776969;
    color: #FFFFFF;
}

.content-2 {
    background-color: #643030;
    color: #FFFFFF;
}

.content-3 {
    background-color: #441818;
    color: #FFFFFF;
}

.spam {
    display: flex;
    flex-direction: column;
}

.spam-1, .spam-2 {
    display: table-cell;
    margin: 0;
    width: 32vw;
    height: calc(29vh - 23px);
    color: #FFFFFF;
}

.spam-1 {
    background-color: #937575;
}

.spam-2 {
    background-color: #644C4C;
}

.center {
    display: flex;
    flex-direction: column;
}

.direction {
    display: flex;
}

.footer {
    background-color: #BDBDBD;
}

p {
    margin: 0;
    padding: 0;
    position: relative;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
}